<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.10.3/dist/vuetify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.10.3/dist/vuetify.min.css">

  <script src="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/license.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css" rel="stylesheet">

  <style>
    .text-shadow {
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    }

    .bg-gradient {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 70px);
      /* background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0) 30%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.4) 100%); */

    }

    .bottom-gradient {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 72px);
    }

    .cursor-pointer {
      cursor: pointer;
    }

    .zoom-container {
      transition: transform 0.2s ease;
    }
  </style>
</head>

<body class="bg-indigo-lighten-5">
  <div id="app">
    <v-app>
      <v-app-bar>
        <!-- ----------------------------------------------------------------- -->
        <!-- Input -->
        <v-container>
          <v-row class="pt-5 ma-5">
            <v-col>
                <v-text-field density="compact" rounded="lg" variant="outlined"
                  v-model="jsonString">
                  <template #prepend-inner>
                    <v-icon class="me-2" size="small">fi-rr-square-terminal</v-icon>
                  </template>

                  <template #append-inner>
                    <v-icon class="ms-2" size="x-small" @click="resetData()">fi-rr-refresh</v-icon>
                  </template>
                </v-text-field>
              </v-col>
          </v-row>
        </v-container>
      </v-app-bar>

      <v-container class="">
        <v-text-field v-if="false" variant="outlined" v-model="username" @change="getInstagramProfile()"></v-text-field>

        <!-- ----------------------------------------------------------------- -->
        <!-- Result -->

        <v-card v-if="result.length > 0" class="pt-15 mb-5" color="" rounded="xl" variant="flat">
          <v-container>
            <h1>Result: {{ result.length }}</h1>

            <v-row>
              <template v-for="(item, index) in result">
                <v-col cols="6" md="4" xl="2">
                  <v-card class="mb-3" rounded="xl" @click="showPreview(index)">
                    <v-img cover :src="getPath('/load?url=') + encodeURIComponent(item.image.url)">
                      <div class="fill-height bg-gradient"></div>

                      <div class="position-absolute top-0 left-0 ps-3 pt-2 text-white text-shadow text-left">
                        <p class="text-h6 font-weight-bold mb-0">{{ item.username }}</p>
                        <small class="">{{ item.filename }}</small>
                      </div>

                      <div class="position-absolute top-0 right-0 pe-3 pt-2 text-white text-shadow text-left">
                        <p class="text-h6 font-weight-bold mb-0">{{ index + 1 }}</p>
                      </div>

                      <div
                        class="position-absolute bottom-0 right-0 pe-2 pb-2 text-white text-shadow text-left d-flex flex-column">
                        <v-btn v-if="item.video" icon size="large" target="_blank" variant="text" :href="item.video.url"
                          :text="item.video.height">
                          <v-icon class="text-shadow" color="">fi-rr-play-alt</v-icon>
                          <v-tooltip activator="parent" location="start">
                            {{ item.video.width + " x " + item.video.height }}
                          </v-tooltip>
                        </v-btn>

                        <v-btn variant="plain" icon @click="showPreview(index)">
                          <v-icon class="text-shadow">fi-rr-eye</v-icon>
                          <v-tooltip activator="parent" location="start">
                            {{ item.image.width + " x " + item.image.height }}
                          </v-tooltip>
                        </v-btn>
                        <v-btn variant="plain" icon @click="downloadMedia(item.image.url, item.filename)">
                          <v-icon class="text-shadow">fi-rr-download</v-icon>
                          <v-tooltip activator="parent" location="start">
                            Download
                          </v-tooltip>
                        </v-btn>
                      </div>

                      <template v-slot:placeholder>
                        <div class="d-flex align-center justify-center fill-height">
                          <v-progress-circular color="primary" indeterminate></v-progress-circular>
                        </div>
                      </template>
                    </v-img>

                    <v-card-text v-if="false">
                      <div v-if="false" class="text-medium-emphasis">
                        well meaning and kindly.<br>
                        "a benevolent smile"
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </template>
            </v-row>
          </v-container>
        </v-card>

        <v-divider class="my-5"></v-divider>

        <!-- ---------------------------------------------------------------- -->
        <!-- Preview Image -->

        <v-dialog v-model="preview.isShow" max-width="90%" scroll-strategy="none" :retain-focus="false">
          <v-card class="pa-2" color="black" rounded="xl">
            <v-card-text class="d-flex justify-center align-center rounded-xl" style="overflow:hidden;"
              @wheel.prevent="onScroll" @click="startDrag" @mousemove="onDrag">

              <div class="zoom-container" :style="{
                  transform: `translate(${preview.pos.x}px, ${preview.pos.y}px) scale(${preview.zoom})`,
                  cursor: preview.isDragging ? 'grabbing' : preview.zoom > 1 ? 'grab' : 'default',
                }">
                <v-img v-if="!preview.isVideo"
                  :src="getPath('/load?url=') + encodeURIComponent(result[preview.selected.index].image.url)" contain
                  width="auto" max-width="100%" max-height="80vh" rounded="lg">
                  <template v-slot:placeholder>
                    <div class="d-flex align-center justify-center fill-height">
                      <v-progress-circular color="primary" indeterminate></v-progress-circular>
                    </div>
                  </template>
                </v-img>

                <video v-if="preview.isVideo" height="100%" controls>
                  <source :src="getPath('/load?url=') + encodeURIComponent(result[preview.selected.index].video.url)"
                    type="video/mp4">
                  Your browser does not support HTML video.
                </video>
              </div>

              <v-divider class="mx-5" vertical></v-divider>


            </v-card-text>

            <v-card-actions class="justify-center">
              <div class="d-flex flex-column">
                <div class="d-flex flex-column justify-center align-center">
                  <span>
                    {{ result[preview.selected.index].filename }}
                  </span>
                  <span class="text-caption">
                    {{
                      preview.isVideo && result[preview.selected.index].video
                        ? result[preview.selected.index].video.width + ' x ' + result[preview.selected.index].video.height
                        : result[preview.selected.index].image.width + ' x ' + result[preview.selected.index].image.height
                    }}
                  </span>
                </div>
                <div class="d-flex">
                  <v-btn icon @click="previous()" :disabled="preview.selected.index == 0">
                    <v-icon color="white">fi-rr-arrow-small-left</v-icon>
                  </v-btn>

                  <v-btn icon @click="next()" :disabled="preview.selected.index + 1 == result.length">
                    <v-icon color="white">fi-rr-arrow-small-right</v-icon>
                  </v-btn>

                  <v-btn icon @click="preview.isVideo = false">
                    <v-icon color="white">fi-rr-picture</v-icon>
                  </v-btn>

                  <v-btn v-if="result[preview.selected.index].video !== undefined" icon
                    @click="preview.isVideo = true">
                    <v-icon color="white">fi-rr-play-alt</v-icon>
                  </v-btn>

                  <v-btn icon
                    @click="downloadMedia(preview.isVideo && result[preview.selected.index].video ? result[preview.selected.index].video.url : result[preview.selected.index].image.url, result[preview.selected.index].filename)">
                    <v-icon color="white">fi-rr-download</v-icon>
                  </v-btn>

                  <v-btn icon @click="resetZoom">
                    <v-icon color="white">fi-rr-refresh</v-icon>
                  </v-btn>

                  <v-btn icon @click="this.preview.isShow = false">
                    <v-icon color="white">fi-rr-cross-small</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-card-actions>
          </v-card>

          <v-card v-if="false && result[preview.selected.index].video != undefined">
            <video height="100%" controls>
              <source :src="getPath('/load?url=') + encodeURIComponent(result[preview.selected.index].video.url)"
                type="video/mp4">
              Your browser does not support HTML video.
            </video>
          </v-card>
        </v-dialog>

        <!-- ---------------------------------------------------------------- -->

      </v-container>
    </v-app>


  </div>

  <script>
    const { createApp, ref } = Vue
    const { createVuetify } = Vuetify

    const vuetify = createVuetify()

    console.log('Moment version:', window.moment?.version)

    const app = createApp({
      data() {
        return {
          jsonString: "",

          radios: 'info',
          text: {
            info: '',
            query: '',
          },

          data: "",
          json: null,
          result: [],

          preview: {
            selected: {
              index: 0,
              data: {},
            },
            isDragging: false,
            isShow: false,
            isVideo: false,
            zoom: 1,
            pos: { x: 0, y: 0, },
            start: { x: 0, y: 0, },
          },

          info: {
            items: [],
          },
          query: {
            items: [],
          },
          username: ''
        }
      },

      watch: {
        data: function () {
          this.result = [];

          switch (this.radios) {
            case "info":
              this.parseInfo();
              break;

            case "query":
              this.parseQuery();
              break;

            default:
              break;
          }
        },

        jsonString: function (value) {
            if (!value || value.trim() === "") {
              this.result = [];
              this.info.items = [];
              this.query.items = [];
              this.preview.isShow = false;
              this.preview.selected.index = 0;
              this.preview.selected.data = {};
              return false;
            }

            let json = this.jsonString != "" ? JSON.parse(this.jsonString) : null;
            if (!json) return false;

            console.log('jsonString', JSON.parse(this.jsonString));
            // console.log('json.data', json.data);
            // console.log('json.data.data', json.data.data);

            if (json.data != undefined && json.data.xdt_api__v1__feed__reels_media != undefined) {
              this.parserData(json, "xdt_api__v1__feed__reels_media");
            }

            else if (json.data != undefined && json.data.xdt_api__v1__feed__reels_media__connection != undefined) {
              this.parserData(json, "xdt_api__v1__feed__reels_media__connection");
            }

            // else if(json.data != undefined && json.data.data != undefined) {
            //   this.parserData(json, "threads");
            // }
            
            else {
              this.parserData(json, "feed");
            }
        },

        'preview.isShow': function (val) {
          if (val) window.addEventListener('keydown', this.handleKey)
          else window.removeEventListener('keydown', this.handleKey)
        },

        'radios': function () {
          this.data = "";
          this.result = [];

          this.text.info = '';
          this.text.query = '';
          this.info.items = [];
          this.query.items = [];
        },

        'text.info': function (value) {
          this.parseInfo();
        },

        'text.query': function (value) {
          this.parseQuery();
        },
      },

      methods: {
        /**
         * Helper function untuk mendapatkan path dengan BASE_PATH
         * -----------------------------------------------------------------------
         * */
        getPath(path) {
          const basePath = window.BASE_PATH || '';
          // Pastikan basePath tidak double slash
          if (basePath && path.startsWith('/')) {
            return basePath + path;
          }
          return basePath ? basePath + '/' + path.replace(/^\//, '') : path;
        },

        /**
         * Parse JSON Data
         * -----------------------------------------------------------------------
         * */
        parserData(json, type) {
            if (!json) return false;

            this.result = [];

            switch (type) {
                // -------------------------------------------------------------
                case "xdt_api__v1__feed__reels_media":
                    json.data.xdt_api__v1__feed__reels_media.reels_media[0].items.forEach(item => {
                        let o = {
                            id: item.id,
                            username: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username,
                            taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                            filename: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                            image: {
                            url: item.image_versions2.candidates[0].url,
                            height: item.image_versions2.candidates[0].height,
                            width: item.image_versions2.candidates[0].width,
                            },
                        };

                        if (item.video_versions) {
                            o.video = {
                            url: item.video_versions[0].url,
                            height: item.original_height,
                            width: item.original_width,
                            }
                        }

                        this.query.items.push(o);
                        this.result.push(o);
                    });
                    break;

                // -------------------------------------------------------------
                case "xdt_api__v1__feed__reels_media__connection":
                    json.data.xdt_api__v1__feed__reels_media__connection.edges.forEach(edge => {
                        edge.node.items.forEach(item => {
                            let o = {
                            id: item.id,
                            username: edge.node.user.username,
                            taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                            filename: edge.node.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                            image: {
                                url: item.image_versions2.candidates[0].url,
                                height: item.image_versions2.candidates[0].height,
                                width: item.image_versions2.candidates[0].width,
                            },
                            };

                            console.log('item', item)

                            if (item.video_versions) {
                            o.video = {
                                url: item.video_versions[0].url,
                                height: item.original_height,
                                width: item.original_width,
                            }
                            }

                            this.query.items.push(o);
                            this.result.push(o);
                        });
                    });
                    break;

                // -------------------------------------------------------------
                case "feed":
                    json.items.forEach(item => {
                      // Carousel Content
                      if (item.carousel_media) {
                        console.log('Carousel Content');

                        item.carousel_media.forEach((cm, idx) => {
                          let sequence = String(idx + 1).padStart(3, '0');

                          let o = {
                            id: cm.id,
                            username: item.user.username,
                            taken_at: moment.unix(cm.taken_at).format('YYYYMMDD-HHmmss') + '-' + sequence,
                            filename: item.user.username + "-" + moment.unix(cm.taken_at).format('YYYYMMDD-HHmmss') + '-' + sequence,
                            image: {
                              url: cm.image_versions2.candidates[0].url,
                              height: cm.image_versions2.candidates[0].height,
                              width: cm.image_versions2.candidates[0].width,
                            },
                          };

                          if (cm.video_versions) {
                            o.video = {
                              url: cm.video_versions[0].url,
                              height: cm.video_versions[0].height,
                              width: cm.video_versions[0].width,
                            }
                          }

                          this.info.items.push(o);
                          this.result.push(o);
                        });
                      }

                      // Single Content - Video
                      else if (item.video_versions) {
                        console.log('Single Content | Video');
                        let o = {
                          id: item.id,
                          username: item.user.username,
                          taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                          filename: item.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                          image: {
                            url: item.image_versions2.candidates[0].url,
                            height: item.image_versions2.candidates[0].height,
                            width: item.image_versions2.candidates[0].width,
                          },
                          video: {
                            url: item.video_versions[0].url,
                            height: item.video_versions[0].height,
                            width: item.video_versions[0].width,
                          }
                        };

                        this.info.items.push(o);
                        this.result.push(o);
                      }

                      else if (item.image_versions2) {
                        console.log('Single Content | Image');
                        let o = {
                          id: item.id,
                          username: item.user.username,
                          taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                          filename: item.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                          image: {
                            url: item.image_versions2.candidates[0].url,
                            height: item.image_versions2.candidates[0].height,
                            width: item.image_versions2.candidates[0].width,
                          }
                        };

                        this.info.items.push(o);
                        this.result.push(o);
                      }

                    });
                    break;

                case "threads":
                  
                  break;

                default:
                  console.log('Unknown type');
                  break;
            }
            
        },

        /**
         * -----------------------------------------------------------------------
         * */
        parseInfo() {
          this.result = [];
          this.info.items = [];
          let json = this.data != "" ? JSON.parse(this.data) : null;

          if (!json) return false;

          json.items.forEach(item => {
            // Carousel Content
            if (item.carousel_media) {
              console.log('Carousel Content');

              item.carousel_media.forEach((cm, idx) => {
                let sequence = String(idx + 1).padStart(3, '0');

                let o = {
                  id: cm.id,
                  username: item.user.username,
                  taken_at: moment.unix(cm.taken_at).format('YYYYMMDD-HHmmss') + '-' + sequence,
                  filename: item.user.username + "-" + moment.unix(cm.taken_at).format('YYYYMMDD-HHmmss') + '-' + sequence,
                  image: {
                    url: cm.image_versions2.candidates[0].url,
                    height: cm.image_versions2.candidates[0].height,
                    width: cm.image_versions2.candidates[0].width,
                  },
                };

                if (cm.video_versions) {
                  o.video = {
                    url: cm.video_versions[0].url,
                    height: cm.video_versions[0].height,
                    width: cm.video_versions[0].width,
                  }
                }

                this.info.items.push(o);
                this.result.push(o);
              });
            }

            // Single Content - Video
            else if (item.video_versions) {
              console.log('Single Content | Video');
              let o = {
                id: item.id,
                username: item.user.username,
                taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                filename: item.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                image: {
                  url: item.image_versions2.candidates[0].url,
                  height: item.image_versions2.candidates[0].height,
                  width: item.image_versions2.candidates[0].width,
                },
                video: {
                  url: item.video_versions[0].url,
                  height: item.video_versions[0].height,
                  width: item.video_versions[0].width,
                }
              };

              this.info.items.push(o);
              this.result.push(o);
            }

            else if (item.image_versions2) {
              console.log('Single Content | Image');
              let o = {
                id: item.id,
                username: item.user.username,
                taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                filename: item.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                image: {
                  url: item.image_versions2.candidates[0].url,
                  height: item.image_versions2.candidates[0].height,
                  width: item.image_versions2.candidates[0].width,
                }
              };

              this.info.items.push(o);
              this.result.push(o);
            }

          });
        },

        /**
         * -----------------------------------------------------------------------
         * */

        parseQuery() {
          this.result = [];
          this.query.items = [];
          let json = this.data != "" ? JSON.parse(this.data) : null;

          if (!json) return false;

          this.json = json;

          //
          if (json.data.xdt_api__v1__feed__reels_media__connection != undefined) {
            json.data.xdt_api__v1__feed__reels_media__connection.edges.forEach(edge => {
              edge.node.items.forEach(item => {
                let o = {
                  id: item.id,
                  username: edge.node.user.username,
                  taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                  filename: edge.node.user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                  image: {
                    url: item.image_versions2.candidates[0].url,
                    height: item.image_versions2.candidates[0].height,
                    width: item.image_versions2.candidates[0].width,
                  },
                };

                console.log('item', item)

                if (item.video_versions) {
                  o.video = {
                    url: item.video_versions[0].url,
                    height: item.original_height,
                    width: item.original_width,
                  }
                }

                this.query.items.push(o);
                this.result.push(o);
              });
            });
          }

          //
          else if (json.data.xdt_api__v1__feed__reels_media != undefined) {
            json.data.xdt_api__v1__feed__reels_media.reels_media[0].items.forEach(item => {
              let o = {
                id: item.id,
                username: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username,
                taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                filename: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                image: {
                  url: item.image_versions2.candidates[0].url,
                  height: item.image_versions2.candidates[0].height,
                  width: item.image_versions2.candidates[0].width,
                },
              };

              if (item.video_versions) {
                o.video = {
                  url: item.video_versions[0].url,
                  height: item.original_height,
                  width: item.original_width,
                }
              }

              this.query.items.push(o);
              this.result.push(o);
            });
          }

          else if (json.data.xdt_api__v1__feed__timeline__connection != undefined) {
            json.data.xdt_api__v1__feed__timeline__connection.reels_media[0].items.forEach(item => {
              let o = {
                id: item.id,
                username: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username,
                taken_at: moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                filename: json.data.xdt_api__v1__feed__reels_media.reels_media[0].user.username + "-" + moment.unix(item.taken_at).format('YYYYMMDD-HHmmss'),
                image: {
                  url: item.image_versions2.candidates[0].url,
                  height: item.image_versions2.candidates[0].height,
                  width: item.image_versions2.candidates[0].width,
                },
              };

              if (item.video_versions) {
                o.video = {
                  url: item.video_versions[0].url,
                  height: item.original_height,
                  width: item.original_width,
                }
              }

              this.query.items.push(o);
              this.result.push(o);
            });
          }
        },

        /**
         * -----------------------------------------------------------------------
         * */

        openMedia(url) {
          window.open(url, "_blank");
        },

        /**
         * -----------------------------------------------------------------------
         * */

        downloadMedia(mediaUrl, filename) {
          console.log(this.result[this.preview.selected.index]);
          console.log('mediaUrl', mediaUrl);
          console.log('filename', filename);

          let params = [];
          params.push('url=' + encodeURIComponent(mediaUrl));
          params.push('filename=' + filename);

          let url = this.getPath('/download?') + params.join('&')

          // window.open(url, "_blank");
          window.open(url);
        },

        /**
         * -----------------------------------------------------------------------
         * */

        async pasteFromClipboard() {
          try {
            const text = await navigator.clipboard.readText();
            this.pastedText = text;
          } catch (err) {
            alert('Gagal mengambil clipboard: ' + err);
          }
        },

        /**
         * -----------------------------------------------------------------------
         * */

        async getInstagramProfile() {
          fetch("https://srv853806.hstgr.cloud/profile.php?username=" + this.username)
            .then(res => res.json())
            .then(data => console.log(data));
        },

        /**
         * View Image
         * -----------------------------------------------------------------------
         * */

        showPreview(index) {
          this.preview.zoom = 1;
          this.preview.selected.index = index;
          this.preview.isVideo = false;
          this.preview.isShow = true;
          this.preview.pos = { x: 0, y: 0 };
          this.preview.start = { x: 0, y: 0 };

          console.log(this.result[this.preview.selected.index]);
        },

        previous() {
          this.preview.zoom = 1;
          this.preview.isVideo = false;
          this.preview.pos = { x: 0, y: 0 };
          this.preview.start = { x: 0, y: 0 };
          if (this.preview.selected.index - 1 >= 0) this.preview.selected.index--;
        },

        next() {
          this.preview.zoom = 1;
          this.preview.isVideo = false;
          this.preview.pos = { x: 0, y: 0 };
          this.preview.start = { x: 0, y: 0 };
          if (this.preview.selected.index + 1 < this.result.length) {
            this.preview.selected.index++
          };
        },

        closeImage() {
          this.preview.isShow = false;
          this.preview.selected.index = 0;
          this.preview.selected.data = {};
        },

        resetZoom() {
          this.preview.zoom = 1;
          this.preview.pos = { x: 0, y: 0 };
          this.preview.start = { x: 0, y: 0 };
        },

        setZoom(newZoom) {
          const clamped = Math.min(Math.max(newZoom, 1), 4);
          this.preview.zoom = clamped;
          if (clamped === 1) this.preview.pos = { x: 0, y: 0 };
        },

        onScroll(e) {
          const delta = e.deltaY < 0 ? 0.2 : -0.2;
          this.setZoom(this.preview.zoom + delta);
        },

        startDrag(e) {
          console.log('this.preview.isDragging', this.preview.isDragging);

          if (!this.preview.isDragging) {
            if (this.preview.zoom <= 1) return;
            this.preview.isDragging = true;
            this.preview.start = { x: e.clientX - this.preview.pos.x, y: e.clientY - this.preview.pos.y };
          } else {
            this.endDrag();
          }

        },

        onDrag(e) {
          if (!this.preview.isDragging) return;
          this.preview.pos = { x: e.clientX - this.preview.start.x, y: e.clientY - this.preview.start.y };
        },

        endDrag() {
          this.preview.isDragging = false;
        },

        handleKey(e) {
          if (!this.preview.isShow) return

          if (e.key === 'Tab') {
            if (this.result[this.preview.selected.index].video !== undefined) {
              e.preventDefault();
              this.preview.isVideo = !this.preview.isVideo;
            }
            return;
          }

          switch (e.key) {
            case 'ArrowRight':
              this.next();
              break;

            case 'ArrowLeft':
              this.previous();
              break;

            case 'Enter':
              let mediaUrl = this.preview.isVideo && this.result[this.preview.selected.index].video
                ? this.result[this.preview.selected.index].video.url
                : this.result[this.preview.selected.index].image.url;
              let filename = this.result[this.preview.selected.index].filename;
              this.downloadMedia(mediaUrl, filename)
              break;

            default:
              break;
          }
          // if (e.key === 'ArrowRight') this.next();
          // if (e.key === 'ArrowLeft') this.previous()
          // if (e.key === 'Escape') this.preview.isShow = false
        },

        /**
         * View Image
         * -----------------------------------------------------------------------
         * */

        resetData() {
          this.data = "";
          this.result = [];
          this.json = {};
          this.jsonString = "";
        },
      },

      beforeUnmount() {
        window.removeEventListener('keydown', this.handleKey)
      }
    });
    app.use(vuetify).mount('#app')

  </script>
</body>

</html>